body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #1a1b1e;
}

/****************************** Header *************************/
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

/****************************** Navigation *************************/
nav {
    background-color: darkslategray;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a:hover {
    color: white;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    bottom: -6px;
    left:0;
    width: 0;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

.active-page {
    color: white;
}

.active-page:after {
    width: 100%;
}

/****************************** Main *************************/

main{
    flex-grow: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 12px;
}



.grid-item {
    padding: 0.5em;
    align-items: center;
    text-align: center;
    margin: 20px;
}


/****************************** Text *************************/
h1 {
    color: #fff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

img {
    width: auto;
    height: 225px;
    border-radius: 20px;
}

.item-image {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    word-break: break-word;
    color: #d9d9d9;
    align-items: center;
}

h3 {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    word-break: break-word;
    padding: 8px;
    color: white;
    font-size: 20.25px;
}

p {
    line-height: 1;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 300;
    color: #CDCDCD;
}

.btn {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: normal;
    border-radius: 50px;
    background-color: darkslategray;
    font-family: inherit
}

/****************************** Footer *************************/
footer {
    background-color: #333;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: auto;
    height: 40px;
}

    footer p {
        color: #fff;
        text-align: center;
    }

/***************************** Media queries **********************/
@media only screen and (max-width:1285px) and (min-width: 900px) {
    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50% 50%;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
    }

    img {
        height: 195px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: 33.33% 33.33% 33.33%;
    }

    img {
        height: 170px;
    }
}

